* {
	margin: auto;
}

body {
	width: 900px;
	height: 900px;
	border: 1px solid grey;
}

.button-container {
	display: flex;
	margin: 20px 20px 20px 20px;
}

.gallery {
	display: inline-block;
	margin: 10px 10px 10px 10px;
	position: relative;
}

.addrotate {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: transform 1.2s ease-in-out;
	-moz-transition: transform 1.2s ease-in-out;
	-ms-transition: transform 1.2s ease-in-out;
	-o-transition: transform 1.2s ease-in-out;
	transition: transform 1.2s ease-in-out;

}
